<%- include ("./layouts/header") %>
<h1 class="mt-4">Dashboard</h1>
<%- include ("./partials/messages"); %>
<p class="lead mb-4">Welcome User</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>