<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Prediction</title>
</head>
<body>
    <form action="result" method="POST">
        Age: <input type="text" name="age"/> <br>
        Sex: <input type="text" name="sex"/> <br>
        CP: <input type="text" name="cp"/> <br>
        TrestBps: <input type="text" name="trestbps"/> <br>
        Chol: <input type="text" name="chol"/> <br>
        Fbs: <input type="text" name="fbs"/> <br>
        Restecg: <input type="text" name="restecg"/> <br>
        Thalach: <input type="text" name="thalach"/> <br>
        Exang: <input type="text" name="exang"/> <br>
        Oldpeak: <input type="text" name="oldpeak"/> <br>
        Slope: <input type="text" name="slope"/> <br>
        CA: <input type="text" name="ca"/> <br>
        Thal: <input type="text" name="thal"/> <br>
        <button type="submit">Result?</button>
    </form>
</body>
</html>

